@font-face {

    font-family: Overpass Mono;
    src: url('assets/fonts/OverpassMono-VariableFont_wght.ttf');
}

body { 
    margin: 0; padding: 0; 
    font-family: 'Overpass Mono', monospace;
}
#map { 
    position: absolute; top: 0; bottom: 0; width: 100%; 
}

.title {
    position: absolute;
    top: 12px;
    z-index: 1;
    left: calc(50vw - 64px);
    width: 128px;
    text-align: center;
}

.mapboxgl-map {
    font-family: 'Overpass Mono', monospace;
}
.filter-group {
    font:
        12px/20px 'Overpass Mono',
        monospace;
    font-weight: 600;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    border-radius: 3px;
    width: 120px;
    color: #fff;
}


.filter-group input[type='checkbox'] {
    display: none;
}

.filter-group input[type='checkbox'] + label {
    background-color: #f8f8f8;
    display: block;
    cursor: pointer;
    padding: 10px;
}

.filter-group input[type='checkbox'] + label {
    background-color: #ffffff;
}

.filter-group input[type='checkbox'] + label:hover,
.filter-group input[type='checkbox']:checked + label {
    background-color: #f8f8f8;
}

.filter-group input[type='checkbox']:not(:checked) + label{
    padding-left: 22.5px;
}

.filter-group input[type='checkbox']:checked + label:before {
    content: 'X';
    margin-right: 5px;
}

.listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
}

.listings .item {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.listings .item:last-child {
    border-bottom: none;
}


.listings .item .title small {
    font-weight: 400;
}

.listings .item.active .title,
.listings .item .title:hover {
    color: #ffffff;
}

.listings .item.active {
    background-color: #f8f8f8;
}

